*.class
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Java VM crash logs
hs_err_pid*

# IntelliJ IDEA stuff
.bsp/
.idea/
/out/
/project/build.properties

# SBT files
/target/
/project/project/
/project/target/
